
.area_head{
  height: 435px !important;
  width: 100%;
text-align: center;
display: flex;
background-color: #4b1c23;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
text-transform: uppercase !important;
background-image: url("./pract.jpg") !important;
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: serif;
font-weight: bolder;
opacity: 0.8;
}
.bk{
  padding-top: 5px;
  background-color: #ff0000c7 !important;
  margin: 0% 30%;
  border-radius: 2em;
}
.h2bkg{
  color:#820e0e;
  font-family: math;
  text-decoration: blink;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}

.area_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 3px;
    width:100%
  }
  .practices{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 3px;
   padding: 2px;
   justify-content: center;



   div{
     width: 30%;
    text-align: center;


    h4{
      color: #504e4e;
      text-decoration: auto;
      text-transform: uppercase;
      font-size: large;
      font-family: fangsong;
    }


    p{
      text-align: justify;
      font-size: small;
      font-family: system-ui;
      color: #5f4b4b;
    }


    a{
      color: #d62929 !important;;
      text-transform: uppercase;
      text-align: center;
      justify-content: center;
    }


   }


   div figure{
    width: 100%;
    padding: 4% 5% 3% 0% !important;
    margin: 2% 3% 1% 10%;

   }

  }

  @media screen and (max-width: 1230px) {
 
.area_head{
  height: 250px !important;
  width: 100%;
text-align: center;
display: flex;
background-color: #4b1c23;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
text-transform: uppercase !important;
background-image: url("./pract.jpg") !important;
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: serif;
font-weight: bolder;
}


.bk{
  padding-top: 5px;
  background-color: #ff0000c7 !important;
  margin: 0% 20% !important;
  border-radius: 2em;
}

 

  }
  @media screen and (max-width: 1224px) {
    

    
  
    @media screen and (max-width: 1230px) {
   
  
    }

  }
  
  @media screen and (max-width: 1023px) {
   
    
  }
  
  @media screen and (max-width: 823px) {
   
    .practices{
      display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 3px;
     padding: 2px;
     justify-content: center;
    
    
     div{
       width: 90% !important;
      text-align: center;
    
    
      h4{
        color: #504e4e;
        text-decoration: auto;
        text-transform: uppercase;
        font-size: large;
        font-family: fangsong;
      }
    
    
      p{
        text-align: justify;
        font-size: small;
        font-family: system-ui;
        color: #5f4b4b;
      }
    
    
      a{
        color: #d62929;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
      }
    
    
     }
    
    
     div figure{
      width: 90% !important;
      padding: 4% 5% 3% 0% !important;
      margin: 2% 3% 1% 10%;
    
     }
    }

  }
  