.partner_container {
  display: flex;
  flex-direction: column;
  background-color: #eee4e4;
  p{
      text-align: center;
      padding: 12px;
      font-size: large;
      font-family: cursive;
      font-style: oblique;
  
  }
}
.ii{
  color: black;
} 
.team_head{
  height: 415px;
  width: 100%;
text-align: center;
display: flex;
background-color: #4b1c23;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
text-transform: uppercase !important;
background-image: url("./grp.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: serif;
font-weight: bolder;
opacity: 0.6;
}
.bko{
  background-color: #e2c8c85c;
  margin: 0% 30%;
  border-radius: 2em;
}
.jpg{
  height: 10em;
}

.jp{
  height: 12em;
  width: 92%;
 
}
.sleep{
  background-color: white;
}

a{
  color: black;
}

.ok{
  width: 100%;
  padding: 1% 5% 3% 0% !important;
  margin: 2% 3% 1% 10%;
}

.parti{
  
  
.hey{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px;
  padding: 2px;
  figure {
    
    width: 30%;
    margin: 10px;
    padding: 10px;
  }

  div{
    width: 65%;
    margin: 75px 10px 10px 10px;
    padding: 10px;
  }


}
  }

.bio-page__link{
  color: black;
  display: flex;
  font-size: small;
padding-right: 2px;
text-decoration: none;
  span{
    flex-direction: column;
    text-decoration: underline;
    
  }
}
.k{

  padding: 2% 40%;
  h4{
    font-size: 1rem !important;
    margin-bottom: auto !important;
  }
  p{
color: brown !important;
  }
}

.first{
  display:flex;
  flex-direction: row;
}
.second{
  width: 0%;
}
.details{
  text-align: justify;
  padding: 0% 4%;
}

@media screen and (max-width: 1230px) {
  .cont{
    display:flex;
  .conti_1 {
    padding-top: 0.5125rem;
    margin-right: 0.2rem;
    font-size: 1rem !important;

    padding-left: 0.1em;
  }
}
  
.first{
  width: 100%;
  display:flex;
  flex-direction: column;
}


}


@media screen and (max-width: 1224px) {
  .cont,
  .conti_1 {
    padding-top: 0.5125rem;
    margin-right: 0.2rem;
    font-size: 0.85rem !important;

    padding-left: 0.1em;
  }
  
}
//blog_page
.full-width-image-container {
  .has-text-weight-bold {
    box-shadow: brown 0.5rem 0px 0px, brown -0.5rem 0px 0px !important;
    background-color: brown !important;
    color: white;
    padding: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .partner_main {
    display: flex;
    flex-direction: row;
    margin: 2em;
    border-radius: 1em;
  }
  .partner_main .partner_div {
    height:max-content;
    margin: 2em;
    background-color: brown;
  }
  .k {
    float:none;
    padding: 2% 30%;
}
  

.partner_main .partner_div {
  padding: 0.7em;
  background-color: rgba(49, 3, 3, 0.801);
}
.parti .hey {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 3px;
  padding: 2px;
}
.parti .hey figure {
  width: 50%;
  margin: auto;
 
  h4{
    font-size: small;
    margin: 0;
    padding: 0;
  }
  .senior{
    margin: 0;
    color: brown;
  }
  .mail{
    margin: 0;
    padding: 0;
    color: black;
  }
}
.ii{
  font-size:x-small;
  color: black;
  text-decoration:none;
}  
.parti .hey div {
  width: 100%;
  margin: 12px 10px 10px 10px;
  padding: 10px;
  text-align: justify;
}


}

@media screen and (max-width: 823px) {
  .partner_main .partner_div {
    padding: 0.7em;
    background-color: rgba(49, 3, 3, 0.801);
  }
  .parti .hey {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3px;
    padding: 2px;
}
  .parti .hey figure {
    width: 50%;
    margin: auto;
   
    h4{
      font-size: small;
      margin: 0;
      padding: 0;
    }
    .senior{
      margin: 0;
      color: brown;
    }
    .mail{
      margin: 0;
      padding: 0;
      color: black;
    }
  }
  .ii{
    font-size:x-small;
    color: black;
  }  
  .parti .hey div {
    width: 100%;
    margin: 12px 10px 10px 10px;
    padding: 10px;
    text-align: justify;
}
  
}
