.partner_container {
  display: flex;
  flex-direction: column;
  background-color: #eee4e4;
}
@media screen and (max-width: 1230px) {
  .cont,
  .conti_1 {
    padding-top: 0.5125rem;
    margin-right: 0.2rem;
    font-size: 1rem !important;

    padding-left: 0.1em;
  }
}
@media screen and (max-width: 1224px) {
  .cont,
  .conti_1 {
    padding-top: 0.5125rem;
    margin-right: 0.2rem;
    font-size: 0.85rem !important;

    padding-left: 0.1em;
  }
}
//blog_page
.full-width-image-container {
  .has-text-weight-bold {
    box-shadow: brown 0.5rem 0px 0px, brown -0.5rem 0px 0px !important;
    background-color: brown !important;
    color: white;
    padding: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .partner_main {
    display: flex;
    flex-direction: column;
    margin: 2em;
    border-radius: 1em;
  }
  .partner_main .partner_div {
    margin: 2em;
    background-color: brown;
  }
}

@media screen and (max-width: 823px) {
  .partner_main .partner_div {
    padding: 0.7em;
    background-color: rgba(49, 3, 3, 0.801);
  }
}
