.bgr {
  background-color: #920016;
  .t {
    color: white;
    font: 2em sans-serif;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }
  .pd {
    padding: 0 3em;
  }
  strong {
    color: #c4021f !important;
  }
}
a {
  color: brown;
}

.bgrr {
  background-color:#920016;
  .t {
    color: white;
    font: 1em sans-serif;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }
  .pd {
    padding: 0 3em;
  }
  strong {
    color: chocolate !important;
  }
}
a {
  color: brown;
}