.contact-form {
  padding: 30px;
  background-color: #fff;
  color: #616161;
  overflow-x: hidden;

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1.3px solid brown;
    box-shadow: inset 0 0 0 1px transparent;
    transition: all 0.3s ease-in-out;
  }
}
.headline__left-border {
  position: relative;
}
.headline__left-border:before {
  content: "";
  position: absolute;
  top: 0.58em;
  left: calc(-200% - 15px);
  display: block;
  width: 200%;
  height: 2px;
  background: var(--color-tert);
}

.content-area .gform_fields,
.gform_fields {
  list-style: none;
  padding-left: 0;
}
.gfield {
  margin-bottom: 0.5em;
}
label,
legend {
  margin-bottom: 0.25em;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: left;
}
label {
  display: block;
}
.ginput_complex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1.3px solid brown;
  box-shadow: inset 0 0 0 1px transparent;
  transition: all 0.3s ease-in-out;
}

button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  resize: vertical;
  height: 120px;
}

#gform_submit_button_1 {
  background-color: brown;
  color: white;
  border-radius: 25px;

  width: 100%;
  font-size: x-large;
  font-family: system-ui;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.btn--form {
  padding: 1.5em;
}
.btn {
  padding: 0.95em 1.5em;
  border-radius: 60px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--color-prime);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn--form {
  width: 100%;
}
.butn {
  padding: 2em;
}
@media (min-width: 1200px) {
  .contact__form-title.headline__left-border::before {
    left: calc(-66px - 15px);
    width: 66px;
  }
}
@media (min-width: 1200px) {
  #gform_submit_button_1 {
    bottom: -30px;
  }
}
