.gene{
   background-color: #f7f6f572;;
    padding: 0.9em;
    h2{
        text-align: center;
        text-transform: capitalize;
        font-size: x-large;
        color: brown;
    }
    .pp{
        text-align: center;
        font-family: monospace;
    }
    h3{
        text-align: center;
        font-style: italic;
        font-family: emoji;
        padding-top: 10px;
        font-size: x-larger;
        margin-bottom: 0px !important;
        color: #481908;
    
    }
    .mp{
      font-size: small;
    }
}
.lk{
    width: 100%;
    background-color: #8a1616;;

    border-radius: 55%;
    a{
        color: #e4d3d3e6;
        text-decoration: auto;
        
    }
}